<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<%- include('__head',{title}) %>


<body class="bg-base-200 min-h-screen">
  <div class="navbar bg-base-100 shadow-sm px-8">
    <div class="flex-1">
      <a href="/" class="text-xl font-bold text-primary">TaskGo</a>
    </div>
  </div>

  <main class="min-h-[calc(100vh-64px)] flex items-center justify-center px-4">
    <%- body %>
  </main>
</body>

</html>